spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tron?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  ai:
    openai:
      api-key: ${GEMINI_API_KEY}