<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TRON IA</title>
    <style>
        body {
            background: radial-gradient(circle at top, #12162e 0%, #06070f 70%);
            color: #fff;
            font-family: 'Consolas';
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        canvas {
            border: 2px solid #6e00ff;
            box-shadow: 0 0 25px #6e00ff;
        }
    </style>
</head>

<body>

<div>
    <h1 style="text-align:center;">TRON IA</h1>
    <canvas id="tronCanvas" width="600" height="600"></canvas>
</div>

<script src="/js/tron.js"></script>

</body>
</html>
